body{
    background-color: rgb(212, 241, 255);
}
#Information{
    background-color: aquamarine;
    padding: 5px;
}
#suport{
    background-color: rgb(167, 255, 255);
    padding: 5px;
}
.letter-box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    padding: 2px;
    margin-bottom: 10px;
}
#title{
    background-color: bisque;
    padding: 5px    ;
}
main{
    background-color: cadetblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5px;

}
.box-main{
    background-color: rgb(48, 48, 48);
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.scaled-grayscale{
    width: 170px;
    height: auto;
    filter: grayscale(100%);
    transition: transform 0.3s ease-in-out;
}
.scaled-grayscale:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}
